body {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

::selection {
    background: #fff6d2;
}

::-moz-selection {
    background: #fff6d2;
}



a {
    color: #000;
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    padding: 3px;
}

a:after,
a:before {
    position: absolute;
    bottom: 0px;
    left: 0px;
    content: "";
    z-index: 1;
    width: 100%;
    height: 2px;
    background-color: #ddd;
}

a:after {
    transition: transform 0.2s ease;
    transform: translateX(-100%);
    background-color: #000;
    z-index: 2;
}

a:hover:after {
    transform: translateX(0%);
}



header {
    position: absolute;
    z-index: 2;
    top: 20px;
    left: 50px;
    right: 50px;
    width: auto;
    height: 80px;
}

header .left {
    float: left;
}

header .right {
    float: right;
}

.logo-wrapp {
    font-size: 28px;
    cursor: default;
}

.content-wrapp {
    top: 70px;
    left: 50px;
    bottom: 90px;
    right: 50px;
    width: auto;
    height: auto;
    position: absolute;
    z-index: 1;
    /*    border-left: 1px dashed #ddd;
    border-right: 1px dashed #ddd;*/
}

.content-wrapp .intro {
    position: relative;
    display: block;
    margin-left: 20%;
    margin-top: 70px;
    max-width: 750px;
    font-size: 22px;
}

.intro p.big {
    font-size: 120px;
    font-size: 100px;
    /*font-family: 'Timens New Roman';*/
    font-family: 'Kalam';
    font-weight: bold;
    /*font-style: italic;*/
    padding: 0px;
    margin: 0px;
    margin-bottom: 30px;
}

.info-trigger {
    display: inline-block;
    border-bottom: 3px solid #000;
    cursor: alias;
    z-index: 2;
}

.info-popup {
    display: block;
    position: absolute;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    margin: 0px;
    padding: 0px;
    background-color: #fff;
    transform: translateY(15px);
    height: 0px;
    overflow: hidden;
    border: none;
}


.info-trigger:hover .info-popup {
    height: auto;
    opacity: 1;
    transform: translateY(0px);
    border: 2px solid #000;
}

.info-popup img {
    width: 100%;
    height: auto;
    display: block;
}


.info-popup ul {
    display: block;
    margin: 20px;
    margin-left: 0px;
    font-size: 18px;
}



.slider .slide {
    opacity: 0;
    display: none;
}

.slider .slide.active {
    opacity: 1;
    display: block;
}

.slider .pagination a {
    display: inline-block;
    margin-right: 2px;
    width: 20px;
    height: 20px;
}

.slider .pagination a:after,
.slider .pagination a:before {
    height: 3px;
}

.slider .pagination a.active:after {
    transform: translateX(0%);
}






footer {
    position: absolute;
    z-index: 1;
    bottom: 50px;
    top: auto;
    left: 50px;
    right: 50px;
    width: auto;
    height: 30px;
}

footer .left {
    float: left;
}

footer .right {
    float: right;
}

footer a {
    font-weight: bold;
    font-size: 16px;
}


header,
footer {
    opacity: 0;
}

.content-wrapp .anim {
    opacity: 0;
    z-index: 1;
}

.content-wrapp .anim:hover {
    z-index: 2;
}



@media only screen and (max-width: 680px) {
    .content-wrapp .intro {
        margin-left: 0px;
    }
}


@media only screen and (max-height: 880px) {
    header,
    footer,
    .content-wrapp {
        position: relative;
        display: block;
        left: 0px;
        top: 0px;
        width: 100%;
        padding: 20px 0px;
    }
    .content-wrapp {
        position: relative;
        display: block;
    }
    header .left,
    footer .left {
        padding-left: 20px;
    }

    header .right,
    footer .right {
        padding-right: 20px;
    }
    .content-wrapp .intro {
        width: auto;
        padding: 10px 20px;
        margin-top: 0px;
    }
}

@media only screen and (max-width: 520px) {
    header .left,
    footer .left,
    header .right,
    footer .right {
        float: none;
        clear: both;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
        margin: 20px 0px;
    }
    .intro p.big{
        font-size: 50px;
        margin-bottom: 40px;
        margin-top: 40px;
    }
    footer{
        min-height: 150px;
    }
    .info-popup{
        right: 20px;
    }
}