body {
  background-color: #fff;
  font-family: 'Quicksand',sans-serif;
  font-size: 14px;
  color: #222; }

::selection {
  background: #eee; }

::-moz-selection {
  background: #eee; }

a,
a:active,
a:visited {
  color: #444;
  text-decoration: none; }

p.contact {
  margin-top: 40px; }

p.big {
  font-family: 'Times New Roman';
  font-size: 70px;
  font-weight: bold;
  font-style: italic; }

p.contact a {
  display: inline-block;
  line-height: 30px;
  height: 30px;
  padding: 4px 6px;
  margin: 0px 5px;
  background-color: #eaeaea;
  border-radius: 3px;
  transition: all 0.2s;
  -webkit-transition: all 0.2s; }

p.contact a:hover {
  background-color: #f5f5f5;
  color: #3774ff; }

section.full {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%; }
  @media (max-width: 640px) {
    section.full {
      position: relative;
      height: auto;
      padding-bottom: 150px; } }

.logo {
  position: absolute;
  z-index: 2;
  top: 30px;
  left: 0px;
  right: 0px;
  margin: 0px auto;
  border: none;
  outline: none;
  width: 175px;
  height: auto; }

.intro {
  width: 60%;
  position: relative;
  z-index: 1;
  padding-top: 50px;
  margin: 0px auto;
  text-align: left; }

.intro p {
  font-size: 19px;
  line-height: 23px; }

.intro p.big {
  font-family: 'Times New Roman';
  font-size: 80px;
  font-weight: bold;
  font-style: italic; }

@media (max-height: 800px) {
  .intro {
    padding-top: 100px; } }

@media (max-width: 640px) {
  .intro {
    width: 100%; }
    .intro p {
      padding: 0px 90px;
      font-size: 36px;
      text-align: left; } }

.content {
  width: 60%;
  position: relative;
  z-index: 1;
  padding-top: 0px;
  margin: 0px auto;
  text-align: left;
  padding-bottom: 40px; }

.content p {
  font-size: 19px;
  line-height: 23px; }

@media (max-height: 800px) {
  .content {
    padding-top: 20px;
    padding-bottom: 20px; } }

@media (max-width: 640px) {
  .content {
    width: 100%;
    padding-bottom: 20px; }
    .content p {
      padding: 0px 90px;
      text-align: left;
      font-size: 26px;
      line-height: 32px; }
    .content p.contact a {
      line-height: 40px;
      height: 40px;
      padding: 4px 10px; } }
